<div class="crm-container">
  <div crm-ui-debug="nmReminders"></div>
  <div crm-ui-debug="msgTemplates"></div>



<h1 crm-page-title>{{ ts('New Mexico Registry: Reminders') }}</h1>
  <div class="crm-container">
  <div id="nmregistry-reminders-list" ng-show="screen=='reminders'" >
    <h2>{{ ts('Reminders: list') }}</h2>
    <p class="help" ng-bind-html="ts('Registry reminders can be created to notify providers that their listing is soon to be archived. Reminders are invoked daily, and will send an email with the specified <a href=\%1\'>Message Template</a> if the current date is more than a given number of days after the provider\'s &quot;Last updated listing&quot; date.', {1: messageTemplateUrl})"></p>
    <p class="status" ng-show="nmReminders.length == 0">
      {{ ts('There are no configured reminders.') }}
    </p>
    <table class="nmregistry-reminders-list" ng-show="nmReminders.length > 0">
      <thead>
        <tr>
          <th>{{ ts('Name') }}</th>
          <th>{{ ts('Age (days)') }}</th>
          <th>{{ ts('Message Template') }}</th>
          <th>{{ ts('Is Final') }}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in nmReminders" ng-class-odd="'odd'" ng-class-even="'even'">
          <td>{{ row.name }}</td>
          <td>{{ row.criteria.days }} </td>
          <td>{{ msgTemplates[row.msg_template_id].msg_title }}</td>
          <td style="font-size: 1.25em">
            <i class="crm-i fa-check" style="color:green" ng-if="row.is_archive == 1"></i>
            <i class="crm-i fa-minus" style="color:lightgray" ng-if="row.is_archive != 1"></i>
          </td>
          <td>
            <a href ng-click="$ctrl.editReminder(row)" >{{ ts('Edit') }}</a>
            |
            <a href ng-click="$ctrl.deleteReminder(row)" >{{ ts('Delete') }}</a>
          </td>
        </tr>
      </tbody>
    </table>
    <a href class='button' ng-click="$ctrl.editReminder()" >{{ ts('Add Reminder') }}</a>
  </div>

  <div id="nmregistry-reminder-edit" ng-show="screen=='reminder-edit'" >
    <h2 >{{ ts('Reminder:') }}
      <small ng-show="nmReminder.id">[id={{nmReminder.id}}]</small>
      <small ng-show="!nmReminder.id">Add New</small>
    </h2>
    <form crm-ui-id-scope name="editReminderForm">
      <div crm-ui-field="{name: 'nmReminder.name', title: ts('Reminder name')}">
        <input class="crm-form-text" crm-ui-id="nmReminder.name" name="name" ng-model="nmReminder.name"  ng-required="screen=='reminder-edit'"/>
        <div class="description">{{ ts('Short name for your own reference; never shown to providers.') }}</div>
      </div>
      <div crm-ui-field="{name: 'nmReminder.criteria.days', title: ts('Age (days)')}">
        <input type="number" ng-min="1" string-to-number class="crm-form-text" crm-ui-id="nmReminder.criteria.days" name="nmReminder.criteria.days" ng-required="screen=='reminder-edit'" ng-model="nmReminder.criteria.days"/>
        <div class="description">{{ ts('Only send this reminder if this many days have passed since user updated their listing (per "Last updated listing" field.)') }}</div>
      </div>
      <div crm-ui-field="{required: true, name: 'nmReminder.msg_template_id', title: ts('Message Template')}">
        <select crm-ui-select="{width:'100%', allowClear:false}" ng-model="nmReminder.msg_template_id" ng-required="screen=='reminder-edit'" name="nmReminder.msg_template_id">
          <option ng-repeat="option in msgTemplates" value="{{option.id}}">
            {{option.msg_title}}
          </option>
        </select>
        <div class="description" ng-bind-html="ts('Use this template for the content of this reminder email. <a href=\'%1\'>Create or edit the User-driven Messages in Message Templates here.</a>', {1: messageTemplateUrl})"></div>
      </div>
      <div crm-ui-field="{name: 'nmReminder.is_archive', title: ts('Final reminder?')}">
        <select crm-ui-select="{width:'3em', allowClear:false}" ng-model="nmReminder.is_archive" >
          <option value="1">{{ ts('Yes') }}</option>
          <option value="0">{{ ts('No') }}</option>
        </select>
        <div class="description">{{ ts('Archive the listing when this reminder is sent?') }}</div>
      </div>

      <button type="submit" class="crm-form-submit" ng-click="$ctrl.saveReminderEdits(nmReminder)">{{ ts('Save') }}</button>
      <button type="submit" class="crm-form-submit cancel" ng-click="screen='reminders'; editReminderForm.$setPristine();">{{ ts('Cancel') }}</button>

    </form>

  </div>

</div>
